@import '../colors.scss';
.section--companies {
  background-color: #fff;
  .title {
    text-align: center;
  }
  .sectionContainer {
    @include sm {
      margin-top: 0;
    }
    @include lg {
      margin-top: 100px;
    }
  }
  .companyList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    margin: 25px auto 0;
    @include lg {
      max-width: 1100px;
    }
  }
  .companyList-item {
    padding: 25px;
  }
  .companyList-item:nth-last-of-type(2),
  .companyList-item:nth-last-of-type(1) {
    display: none;
    @include lg {
      display: block;
    }
  }
  .companyList-item:nth-last-of-type(4),
  .companyList-item:nth-last-of-type(3) {
    display: none;
    @include sm {
      display: block;
    }
  }
  .logo {
    border: 25px solid lighten($uxenYellow, 25%);
    display: flex;
    flex: 1;
    width: 200px;
    height: 100px;
    min-width: 150px;
    min-height: 50px;
  }
  .logo--lenovo {
    background: lighten($uxenYellow, 25%) center center / contain no-repeat url('../assets/companies/lenovo.svg');
  }
  .logo--sg {
    background: lighten($uxenYellow, 25%) center center / contain no-repeat url('../assets/companies/sg.svg');
  }
  .logo--rightmove {
    background: lighten($uxenYellow, 25%) center center / contain no-repeat url('../assets/companies/rightmove.svg');
  }
  .logo--fleetway {
    background: lighten($uxenYellow, 25%) center center / contain no-repeat url('../assets/companies/fleetway.svg');
  }
  .logo--lg {
    background: lighten($uxenYellow, 25%) center center / contain no-repeat url('../assets/companies/lg.svg');
  }
  .logo--uefa {
    background: lighten($uxenYellow, 25%) center center / contain no-repeat url('../assets/companies/uefa.svg');
  }
  .logo--CSC {
    background: lighten($uxenYellow, 25%) center center / contain no-repeat url('../assets/companies/CSC.svg');
  }
  .logo--oasis {
    background: lighten($uxenYellow, 25%) center center / contain no-repeat url('../assets/companies/oasis.svg');
  }
}